@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin: 8px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: #000;
}
.img{
  background: url(i1.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.center{
  position: absolute;
  top: 52%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
.center .buttns{
  margin-top: 20px;
}
.center .buttns button{
   height: 55px;
   width: 150px;
   border-radius: 5px;
   border: none;
   margin: 0 10px;
   border: 2px solid #fff;
   font-size: 20px;
   font-weight: 500;
   padding:  0 10px;
   cursor: pointer;
   outline: none;
   transition: all 0.3s ease;
}
.center .buttns button:first-child{
  color: #fff;
  background: none;
}
.buttns button:first-child:hover{
  background: #fff;
  color: #000;
}
.center .buttns button:last-child{
  background: #fff;
  color: #000;
}
